@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}
/* Color  */
:root {
  --black: #2f2f2f;
  --white: #fff;
  --red: #f83038;
}
.main {
  position: relative;  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right,rgb(15, 15, 15), rgb(43, 42, 42)) ;

}
.main::before {
  content: "Aventure";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 16vw;
  color: rgba(255,255,255,0.1);
  font-weight: 700;
}

.main header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;  
  justify-content: space-between;
  align-items: center;
}

header .logo {
  max-width: 100px;
}
header .navbar {
  display: flex;
}
header .navbar li {
  list-style: none;
}
header .navbar li a {
  text-decoration: none;
  color: var(--white);
  margin-left: 40px;
  transition: 0.3s;
  font-weight: 500;
}
header .navbar li a:hover {
  color: var(--red);
}

/* Setup postion cho container */
.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
  /* z-index: 1; */
}
/* Setup thuộc tính cho từng Element bên trong container */
.container h2 {
  font-size: 4em;
  font-weight: 400;
  color: var(--white);  
  text-align: center;
}
.container h2 span {
  font-weight: 700;
  color: var(--red);
}
.container .btn-bike {
  display: inline-block;
  background: var(--red);
  color: var(--white);
  padding: 16px 36px;
  margin-top: 20px;
  border-radius: 50px;
  text-decoration: none;
  font-size: 1.2em;
  letter-spacing: 2px;
  transition: 0.3s;
}
.container .btn-bike:hover {
  letter-spacing: 6px;
}
.container .bike {
  max-width: 80%;
}
/* Setup vị trí cho sliders */
.slider .slide {
  position: absolute;
  top: 60%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  padding: 0 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0;
  transition: 0.3s;
  /* pointer-events: none; */
}
.slider .slide.active {
  opacity: 1;
  top: 50%;
}
.slider .slide h2 {
  color: var(--white);
  font-size: 2.5em;
}
.slider .slide h2:last-child {
  text-align: right;
}
.slider .slide h2 span {
  color: var(--red);
  font-size: 0.5em;
  font-weight: 600;
  font-style: italic;
}


/* setup vị trí của footer */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* setup thuộc tính của các phần tử */
footer .social {
  display: flex;
}
footer .social li {
  list-style: none;
}
footer .social li a {
  color: var(--white);
  font-size: 2em;
  margin-right: 20px;
  transition: 0.3s;
}
footer .social li a:hover {
  color: var(--red);
}

footer .dots {
  display: flex;
}
footer .dots .dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-left: 20px;
  background: rgba(255,255,255,0.5)
}
footer .dots .dot.active { 
  background: var(--white)
}